html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*^^^RESET^^^*/
.main {
    height: 100%;
    display: grid;
}

.calc {
    display: grid;
    grid-template-areas: 
    'dis dis dis dis'
    'ac del pos-neg divi'
    'sev eight nine ex'
    'four five six minus'
    'one two three plus'
    'zilch zilch deci equals';
    column-gap: 1fr;
    row-gap: 1fr;
    margin: 10vh auto; 
    border: solid black;
    border-radius: 5px;
    height: 80vh;
    width: 60vh;
}

.calc__button{
    border: solid red; 
    text-align: center;
}

.dis{grid-area: dis;}

.ac{grid-area: ac;}
.del{grid-area: del;}
.pos-neg{grid-area: pos-neg;}
.divi{grid-area: divi;}

.sev{grid-area: sev;}
.eight{grid-area: eight;}
.nine{grid-area: nine;}
.ex{grid-area: ex;}

.four{grid-area: four;}
.five{grid-area: five;}
.six{grid-area: six;}
.minus{grid-area: minus;}

.one{grid-area: one;}
.two{grid-area: two;}
.three{grid-area: three;}
.plus{grid-area: plus;}

.zilch{grid-area: zilch;}
.deci{grid-area: deci;}
.equals{grid-area: equals;}
